.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CircularMenu {
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.NavBar {
  position: fixed;
  font: bold 18px "Trebuchet MS";
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.Sections {
  font: 18px "Trebuchet MS";
  text-align: center;
  align-items: flex-start;
}

.Row {
  background-color: #e5e5e5;
  background-image: url(./assets/noise.png);
  background-repeat: repeat;
  background-size: 300px 300px;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 0px;
  align-items: center;
  padding: 0px;
}

.Row2 {
  background-color: #e5e5e5;
  background-image: url(./assets/noise.png);
  background-repeat: repeat;
  background-size: 300px 300px;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
}

.Column {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.nav-logo {
  filter: blur(0);
  transition: 0.5s ease-in-out;
}

.nav-logo:hover {
  cursor: pointer;
  filter: blur(4px);
  transition: 0.5s ease-in-out;
}

.nav-item {
  color: inherit;
  text-decoration: none;
  padding: 10px;
}

.nav-item {
  background:
    linear-gradient(
      to left, 
      rgb(0, 0, 0),
      rgb(0, 0, 0)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 20% 2px, 0% 3px;
  background-position: 0 100%, 100% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.nav-item:hover {
  cursor: pointer;
  background-size: 0% 3px, 100% 3px;
}

.middle-header {
  text-align: center;
  font: bold 45px "Trebuchet MS";
  display: fixed;
  position: relative;
  overflow: hidden;
  color: #000000;
  letter-spacing: 5px;
  transition: 0.5s;
}

.ex span {
  opacity: 0.4;
  transition: all 2000ms;
}

.ex:hover span {
  opacity: 1;
}
#section1 {
  padding-bottom: 20%;
}

#section2 {
  padding-top: 5%;
  padding-bottom: 20%;
}

#section3, #section4 {
  padding-top: 20%;
  padding-bottom: 20%;
}

#section6 {
  padding-top: 20%;
  padding-bottom: 20%
}

#section5 {
  padding-top: 25%;
  padding-bottom: 20%;
}

#section7 {
  padding-top: 15%;
  padding-bottom: 50%;
}


#navbar-col {
  background-image: url(./assets/grapefruit-stroke.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 15%;
  background-position-y: center;
  background-position-x: 3.5%;
}

#menu-col {
  background-image: url(./assets/purple-stroke.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 10%;
  background-position-y: center;
  background-position-x: 95%;
}

.image-container {
  overflow: hidden;
  border-radius: 50%;
  width: 425px;
  height: 425px;
  margin: 35px auto;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}

.grad-image {
  filter: grayscale(40%);
  transition: 0.5s ease-in-out;
}

.grad-image:hover {
  filter: grayscale(0%);
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}