.card {
    position: relative;
    width: 50%;
    height: 600px;
    border-radius: 14px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    ::-webkit-scrollbar {display:none;}
  }
  
  .card-content {
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: 2;
    background: #cccccc;
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow:scroll;
    text-align: center;
  }
  
  .blob {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 1;
    animation: blob-bounce 5s infinite ease-in-out;
  }
  
  @keyframes blob-bounce {
    0% {
        opacity: 0.25;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
    }
  }