.grad-image {
    filter: grayscale(40%);
    transition: 0.5s ease-in-out;
  }
  
  .grad-image:hover {
    filter: grayscale(0%);
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
  }

  .image-container {
    overflow: hidden;
    border-radius: 50%;
    width: 425px;
    height: 425px;
    margin: 35px auto;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
  }

 
h1 {
  font-size: 50px;
  color: #000000;
  text-align: center;
  font-family: "Trebuchet MS", monospace;
  font-weight: 700;
  margin: 1rem 0 1rem 2rem;
}

/* Typewriter effect 1 */
@keyframes typing {
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "p"; }
  2.2791%, 25.0698% { content: "pr"; }
  3.4186%, 23.9302% { content: "pra"; }
  4.5581%, 22.7907% { content: "pran"; }
  5.6977%, 21.6512% { content: "prana"; }
  6.8372%, 20.5116% { content: "pranav"; }

  30.7674%, 51.2791% { content: ""; }
  31.9070%, 50.1395% { content: "a"; }
  33.0465%, 49.0000% { content: "a d"; }
  34.1860%, 47.8605% { content: "a dj"; }

  54.6977%, 75.2093% { content: ""; }
  55.8372%, 74.0698% { content: "a"; }
  56.9767%, 72.9302% { content: "a "; }
  58.1163%, 71.7907% { content: "a g"; }
  59.2558%, 70.6512% { content: "a gr"; }
  60.3953%, 69.5116% { content: "a gra"; }
  61.5349%, 68.3721% { content: "a grad"; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "pranav"; }
    25% { content: "a dj (dj navvy)"; }
    50% { content: "a ucla grad"; }
  }

  .typewriter::before {
    content: "pranav";
    animation: sequencePopup 12s linear infinite;
  }
}