.grad-image {
    filter: grayscale(40%);
    transition: 0.5s ease-in-out;
  }
  
.grad-image:hover {
  filter: grayscale(0%);
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}

.image-container {
  overflow: hidden;
  border-radius: 50%;
  width: 425px;
  height: 425px;
  margin: 35px auto;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}

 
h1 {
  font-size: 50px;
  color: #000000;
  text-align: center;
  font-family: "Trebuchet MS", monospace;
  font-weight: 700;
  margin: 1rem 0 1rem 2rem;
}

/* Typewriter effect 1 */
@keyframes typing {
  0.0000%, 98.8605% { content: ""; }
  11.1395%, 97.7210% { content: "p"; }
  12.2791%, 96.5815% { content: "pr"; }
  13.4186%, 95.4420% { content: "pra"; }
  14.5581%, 94.3025% { content: "pran"; }
  15.6977%, 93.1630% { content: "prana"; }
  16.8372%, 92.0235% { content: "pranav"; }
  17.9765%, 90.8840% { content: "pranav "; }
  19.1160%, 89.7445% { content: "pranav m" }
  20.2555%, 88.6050% { content: "pranav ma" }
  21.3950%, 87.4655% { content: "pranav mad" }
  22.5345%, 86.3260% { content: "pranav madd" }
  23.6740%, 85.1865% { content: "pranav madda" }
  24.8135%, 84.0470% { content: "pranav maddal"}
  25.9530%, 82.9075% { content: "pranav maddali"}
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "pranav maddali"; }
  }

  .typewriter::before {
    content: "pranav";
    animation: sequencePopup 12s linear infinite;
  }
}