.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.grid-item {
    padding: 30px;
}

.grid-item h2 {
    font-size: 25px;
}

.grid-item p {
    line-height: 2;
}