.image-container {
    overflow: hidden;
    border-radius: 50%;
    width: 425px;
    height: 425px;
    margin: 35px auto;
}
  
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}

.grad-image {
    filter: blur(0);
    transition: 1s ease-in-out;
}

.grad-image:hover {
    cursor: pointer;
    filter: blur(5px);
    transition: 1s ease-in-out;
}
