.image-container {
    overflow: hidden;
    border-radius: 50%;
    width: 425px;
    height: 425px;
    margin: 35px auto;
}
  
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
  }